* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    background-color: white;
}

body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

.logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 42px;
}

.botton, .task-container {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
}

.botton {
    margin-top: 50px;
}

.task-container {
    margin-top: 5px;
    padding: 25px 40px;
    font-size: 15px;
}

.botton {
    padding: 15px 40px 8px;
} 

#add-task {
    background-color: #47ADF1;
    color: white;
    padding: 5px;
    border: 1px solid #47ADF1;
    border-radius: 5px;
}

#add-section {
    background-color: white;
    color: lightgray;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.check {
    display: inline-block;
    height: 20px;
    width: 20px;
    color: #64C0A9;
    border: 1px solid #64C0A9;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.cross {
    display: inline-block;
    height: 20px;
    width: 20px;
    color: #EC6C67;
    border: 1px solid #EC6C67;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.tag {
    color: white;
    border-radius: 12px;
    padding: 6px;
    font-size: 12px;
}

.today, .upcoming {
    margin-top: 20px;
}

.task {
    line-height: 35px;
}

.tag-blue {
    background-color: #45ABEA;
}

.tag-purple {
    background-color: #9C72E4;
}

.tag-teal {
    background-color: #97D9CB;
}

.tag-orange {
    background-color: #F29E33;
}

.tag-pink {
    background-color: #D863A1;
}

.tag-green {
    background-color: #B0C926;
}
